.tblDati{ margin:0;}
.SearchControlsContainerStyle{width:100%;}

/*BARRA PER NACONDERE I FILTRI*/
.SearchTitleStyle{ color:#ffffff; text-transform:uppercase; padding:0 0 0 0; font-weight:bold; display:none;}
.SearchTitleStyle a{ color:#5b5555; text-decoration:none;}
.SearchMinimizeStyle{ text-align:right; padding:0 0 3px 0; font-size:0;}
.SearchContainerStyle{ width:100%; color:#000000; padding:0 0 0 0; font-size:12px;}
.SearchSectionStyle{color:#000000;}
.SearchDescStyle{ font-size:12px; font-weight:bold; width: 30%; padding-left:10px;}
.SearchDescStyle .Dati{ position:absolute; top:0px; right:0px;}

.ClickPageStyle{ width:100%; padding:0 0 0 0; font-size:11px;}
.ClickSectionStyle{ background-image:url(images/linea_qt_01.gif); background-repeat:repeat-x; background-position:left bottom; color:#000000;}
.ClickDescStyle{ font-size:11px; font-weight:bold; width: 30%; color:#ffffff; text-align:center; padding-bottom:4px; background-color:#264d22;}
.ClickDescStyle .Dati{ position:absolute; top:0px; right:0px;}

.SearchControlsStyle{ text-align:left; font-size:12px;}

.SearchButtonsStyle{ width:100%; background-color:#171717; height:33px}
.SearchButtonsStyle .tdSrcSX{ text-align:left; width:100%; color: #FFF;}
.SearchButtonsStyle .tdSrcDX{ text-align:right;}

.divDg,
.divDgResults{ margin:0 0 0 0;}
.divDgResults{ margin:0;}
.RisultatiSportStyle{ color:#FFFFFF; font-weight:bold; padding:2px 0 2px 10px; background-color:#1a4500; text-transform:uppercase; text-align:center;}
.dgStyle,
.RisultatiTbl { font-size: 11px; border-style: none; font-weight: bold }
.dgHdrStyle,
.RisultatiGruppiStyle{ font-size:12px; background-color:#000; color:#ffffff; height:29px; text-align:left;}
.RisultatiGruppiStyle{ background-color:#e1e1e1; padding-left:5px; font-size:12px; color:#22314e; font-weight:bold;}
. TH { padding-left: 10px; text-align: center; font-size: 10px; }
.dgHdrStyle a{ color:#fff; text-decoration:none;}
.dgHdrStyle a:hover{ text-decoration:underline;}

.dgSubHdrStyle,
.RisultatiHeader{ font-size:12px; background-color:#f2f2f2; color:#000000; height:18px;}
.dgAItemStyle,
.RisultatiAltItem{ height:32px; background-color:#f2f2f2; color:#000000;}
.dgItemStyle,.RisultatiItem{ height:32px; color:#000000; background-color:#fff}
.dgItemStyle .description { display: block; line-height: 18px; color: #666; font-style: italic; }
.dgItemStyle TD,
.dgAItemStyle TD {padding-left:7px;}
.dgItemStyle a:hover,
.dgAItemStyle a:hover{color:#144d04; }
.dgItemStyle a,
.dgAItemStyle a{text-decoration:none;color:#000000; font-weight:bold;}
.dgPagerStyle { background-color: #171717; }
.dgPagerStyle DIV { padding-right: 10px; font-weight: bold; color: #fff; }
.dgPagerStyle a { text-decoration: none; color: #fff; font-weight: bold; display: block; padding: 0 3px 0 3px; }
.dgPagerStyle td { display: table-cell !important; }
.dgPagerStyle td span { text-decoration: none; color: #ffffff; font-weight: bold; border-bottom: 1px solid #fff; display: block; padding: 0 3px 0 3px; }
.dgEmptyStyle{ text-align:center; font-size:12px; height:50px; color:#000;}
.dgEmptyStyle TD{ border:none;}
.UserPopUpSrc{ border-bottom: 1px solid #ccc;}

.dgTotalsStyle{background-color:#f2f2f2; height:25px}

.dgTotalsStyle TD{	border-bottom:1px solid #ffffff;}
.dgTotalsImpPos,.dgTotalsImpNeg{ text-align:right; padding-right:2px; font-weight:bold; color:#144d04}
.dgTotalsImpNeg{color:#144d04;}

/* -------------------- STILI PAGINE CON DATI (NewUser..) --------------------------- */
.RiquadroNews.Reg .tblDati .cellaSx{ width:280px;}
.RiquadroNews.Reg .tblDati .cellaSx.Sep{ width:5px;}

.cellaSx{
    background-color:#ffffff;
    padding-left:10px;
    font-size: 12px;
    color:#000000;
    height:33px;
    font-weight:bold;
}
.cellaSx.Sep,
.nuovoUtente1 .cellaSx.Sep,
.nuovoUtente2 .cellaSx.Sep,
.nuovoUtente3 .cellaSx.Sep{ padding:0 5px 0 5px;}

.cellaSx.Top,
.nuovoUtente1 .cellaSx.Top,
.nuovoUtente2 .cellaSx.Top,
.nuovoUtente3 .cellaSx.Top{ padding-top:4px;vertical-align:top; }

.cellaDx{
    font-size: 12px;
    color:#000000;
    padding-left:10px;
    padding-right:10px;
}
.cellaInfo{ color:#000; padding:10px; font-size: 12px; font-weight: bold;}
.cellaSel{
    border-top:1px solid #d95858; cursor:pointer;
    background: #b72611; /* Old browsers */
    background: -moz-linear-gradient(top, #b72611 26%, #731515 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,#b72611), color-stop(100%,#731515)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #b72611 26%,#731515 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #b72611 26%,#731515 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #b72611 26%,#731515 100%); /* IE10+ */
    background: linear-gradient(to bottom, #b72611 26%,#731515 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b72611', endColorstr='#731515',GradientType=0 ); /* IE6-9 */
    padding-left:10px;
    padding-right:10px;
    margin-right:10px;
    white-space:nowrap; border-right:1px solid #fff; height:29px; text-transform:uppercase
}
.cellaSel a{ color: #ffffff; font-weight:bold; text-decoration:none}
.cellaDeSel{
    border-top:1px solid #81d970; cursor:pointer; border-right:1px solid #fff;
    background: #2c8017; /* Old browsers */
    background: -moz-linear-gradient(top, #2c8017 26%, #19450c 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%,#2c8017), color-stop(100%,#19450c)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #2c8017 26%,#19450c 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #2c8017 26%,#19450c 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #2c8017 26%,#19450c 100%); /* IE10+ */
    background: linear-gradient(to bottom, #2c8017 26%,#19450c 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c8017', endColorstr='#19450c',GradientType=0 ); /* IE6-9 */
    padding-left:10px;
    padding-right:10px;
    white-space:nowrap;
}
.cellaDeSel a{ color: #fff; font-weight:bold; text-decoration:none; font-size:12px; text-transform:uppercase}
.tblTabs{ width:100%; margin-top:10px; height:29px; background-color:#fff; padding-left:10px}
.SectionTitle{ text-align: left; border-bottom: none; padding-left:10px; background-color: #264D22;
    color: #FFFFFF;
    font-size: 12px;
    height: 29px; font-weight:bold}

/******************************************************************/
.divNewUserWide{ width:907px; margin:0 0 0 27px; background-image:none; background-position:right; background-repeat:repeat-y; padding:2px; background-color:#ffffff;}
.divNewUserWide .Riquadro{ padding:0; background-color:#ffffff; background-image:url();}
.divNewUserWide .Riquadro .TopSX{ padding:0; background-color:#000000; background-image:url();}
.divNewUserWide .Riquadro .CntSX{ padding:0; background-color:#ffffff; background-image:url();}
.divNewUserWide .Riquadro .TopDX H3{ text-align:left; margin:0;}
.nuovoUtente1,.nuovoUtente2,.nuovoUtente3{ float:left; margin:4px 0 0 6px; border:1px solid #5c4b1d; background-color:#ffffff; padding:8px; height:490px;}
.nuovoUtente3{clear:right;}
.nuovoUtente1{ width:327px; background-image:url(images/userNumb.jpg); background-position:bottom; background-repeat:no-repeat;}
.nuovoUtente2{ width:327px; background-image:url(images/userAt.jpg); background-position:bottom; background-repeat:no-repeat;}
.nuovoUtente3 {width:175px;}
.nuovoUtente1 .cellaSx,
.nuovoUtente2 .cellaSx,
.nuovoUtente3 .cellaSx{ background-color:#ffffff; font-size: 11px; color:#000000; height:30px; font-weight:bold; padding:0; background-image:url();}
.nuovoUtente1 .cellaDx,
.nuovoUtente2 .cellaDx,
.nuovoUtente3 .cellaDx{ background-color:#ffffff; font-size: 11px; color:#000000; padding:0; background-image:url();}
.nuovoUtente1 .tblDati,
.nuovoUtente2 .tblDati,
.nuovoUtente3 .tblDati{ margin:0;}

.tblDatiUser .rowActivationLink .cellaSx { height: 0; }
.tblDatiUser .cellaDx { position: relative; }
.tblDatiUser .cellaDx .button,
.tblDatiUser .cellaDx .buttonRollIn { position: absolute; top: -33px; right: 190px; }

.userSec1_it-IT,
.userSec2_it-IT,
.userSec3_it-IT,
.userSec1_en-GB,
.userSec2_en-GB,
.userSec3_en-GB{ height:22px; padding-top:10px; background-position:center; background-repeat:no-repeat;}
.userSec1_it-IT{ background-image:url(images/lang/userSec1.gif);}
.userSec2_it-IT{ background-image:url(images/lang/userSec2.gif);}
.userSec3_it-IT{ background-image:url(images/lang/userSec3.gif);}

.userSec1_en-GB{ background-image:url(images/lang/userSec1_en.gif);}
.userSec2_en-GB{ background-image:url(images/lang/userSec2_en.gif);}
.userSec3_en-GB{ background-image:url(images/lang/userSec3_en.gif);}

.userBtnWide{ height:240px;}
.NewUserInfo{ font-size:10px; color:#000000; margin:0 0 10px 0;}
.cellaInfoDwn{ float:none; clear:left; text-align:center; background-color:#ffffff;}
/* -------------------- FINE STILI PAGINE CON DATI (NewUser..) --------------------------- */

.GridSubTotalStyle,
.GridSubTotal{ font-weight:bold; background-color:#4a4a4a; color:#FFFFFF;}
.GridSubTotalStyle TD{ border-top:1px solid #272727;}

/**MULTI HEADER**/
.header_1{
    background-color:#515353;
    background-image:none;
    color:#acafaf;
    text-align:center;
    background-image:url('images/multi_header_right.gif');
    background-position:right top;
    background-repeat:repeat-y;
    border-collapse:separate;
    height:16px;
}
.header_2{
    background-color:#2c2d2d;
    color:#FFFFFF;
    font-weight:bold;
    text-align:center;
    background-image:url('images/multi_header_top.gif');
    background-position:top;
    background-repeat:repeat-x;
    text-transform:uppercase;
}
.SectionTitleReport{
    text-align: center;
    border-bottom: none;
    padding:0;
    background-color: #333;
    font-weight:bold;
    color:#fff;
    font-size:12px;
    text-transform:uppercase;
    margin:10px 0 1px 0;
    height:29px;
    line-height:29px;
}
.dgHdrImporti{ text-align:right; padding-right:5px;}

.TextBoxNascita{ width:65px;}

/*.UserListUid { width: 70px; overflow: hidden; }
.UserListNome { width: 60px; overflow: hidden; }
.UserListCognome { width: 60px; overflow: hidden; }*/

.ImpProvvisorio{color:#000;}
.ImpProvvisorioLegenda {
    color:#000;
    background-image:url('images/icons/campo_provv.png');
    background-position:left center;
    padding:0 0 0 15px;
    margin:0 0 0 75px;
    background-repeat:no-repeat;
}
.UserPopupGrid{ height: 300px; overflow-y: scroll;}


/********** Personalizzazioni per Pagina *******************/
.bodyMain.utenti  #MainContent .Riquadro  table tbody tr td table,
.bodyMain.agenti  #MainContent .Riquadro  table tbody tr td table, { display: block;}
.bodyMain.utenti  #MainContent .Riquadro  table tbody tr td table tr,
.bodyMain.utenti  #MainContent .Riquadro  table tbody tr td table tr td,
.bodyMain.agenti  #MainContent .Riquadro  table tbody tr td table tr,
.bodyMain.agenti  #MainContent .Riquadro  table tbody tr td table tr td { display : inline; padding-right: 5px;}

h1#randomText {
    text-align: center;
    font-size: 3vw;
    color: black;
}
h1#winningText {
    text-align: center;
    font-size: 3vw;
    color: #34d508;
    -webkit-animation: zoom1-2 infinite 1s;
    animation: zoom1-2 infinite 1s;
    -webkit-transform-origin:0 0 ;
    transform-origin:0 0 ;
}
h1#randomText:before {
     content: attr(data-before);
     word-break: break-all;
     opacity: 0.5;
}
h1#randomText:after {
     content: attr(data-after);
     word-break: break-all;
     opacity: 0.5;
}
@-webkit-keyframes zoom1-2 {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
@keyframes zoom1-2 {
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
}
